In [1]:
import pandas as pd

In [2]:
path = r'C:\Users\seboc\OneDrive\Escritorio\PROJECTS\DATASCIENCE\CursoPythonDataScience\Online_Retail.csv'
df_retail_data = pd.read_csv(path,encoding='windows-1252')
df_retail_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [3]:
df_retail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [4]:
df_retail_data['InvoiceDate'] = pd.to_datetime(df_retail_data['InvoiceDate'])
df_retail_data.info()

C:\Users\seboc\AppData\Local\Temp\ipykernel_15880\1810288586.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_retail_data['InvoiceDate'] = pd.to_datetime(df_retail_data['InvoiceDate'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [5]:
df_retail_data.dropna(subset=['InvoiceDate'],inplace=True)

In [6]:
df_retail_data.set_index('InvoiceDate')

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceDate,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
2011-12-09 12:50:00,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France
2011-12-09 12:50:00,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France
2011-12-09 12:50:00,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France
2011-12-09 12:50:00,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France
2011-12-09 12:50:00,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France

In [7]:
df_retail_data.set_index('InvoiceDate',inplace=True)

In [9]:
df_retail_data['Year'] = df_retail_data.index.year
df_retail_data['Month'] = df_retail_data.index.month
df_retail_data['Day'] = df_retail_data.index.day
df_retail_data['Weekday'] = df_retail_data.index.weekday
df_retail_data['Hour'] = df_retail_data.index.hour

print(df_retail_data['Year'].head())
print(df_retail_data['Month'].head())
print(df_retail_data['Day'].head())

InvoiceDate
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
2010-12-01 08:26:00    2010
Name: Year, dtype: int32
InvoiceDate
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
2010-12-01 08:26:00    12
Name: Month, dtype: int32
InvoiceDate
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
2010-12-01 08:26:00    1
Name: Day, dtype: int32

In [10]:
df_retail_data

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country,Year,Month,Day,Weekday,Hour
InvoiceDate,,,,,,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,United Kingdom,2010,12,1,2,8
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6,3.39,17850.0,United Kingdom,2010,12,1,2,8
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,United Kingdom,2010,12,1,2,8
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,United Kingdom,2010,12,1,2,8
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,United Kingdom,2010,12,1,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...
2011-12-09 12:50:00,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,12680.0,France,2011,12,9,4,12
2011-12-09 12:50:00,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12680.0,France,2011,12,9,4,12
2011-12-09 12:50:00,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,12680.0,France,2011,12,9,4,12
2011-12-09 12:50:00,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,12680.0,France,2011,12,9,4,12
2011-12-09 12:50:00,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,12680.0,France,2011,12,9,4,12

## Utilizando loc

In [11]:
df_retail_data_2011 = df_retail_data.loc['2011']
print(df_retail_data_2011)

                    InvoiceNo StockCode                      Description  \
InvoiceDate
2011-01-04 10:00:00    539993     22386          JUMBO BAG PINK POLKADOT
2011-01-04 10:00:00    539993     21499               BLUE POLKADOT WRAP
2011-01-04 10:00:00    539993     21498              RED RETROSPOT WRAP
2011-01-04 10:00:00    539993     22379         RECYCLING BAG RETROSPOT
2011-01-04 10:00:00    539993     20718        RED RETROSPOT SHOPPER BAG
...                       ...       ...                              ...
2011-12-09 12:50:00    581587     22613      PACK OF 20 SPACEBOY NAPKINS
2011-12-09 12:50:00    581587     22899     CHILDREN'S APRON DOLLY GIRL
2011-12-09 12:50:00    581587     23254    CHILDRENS CUTLERY DOLLY GIRL
2011-12-09 12:50:00    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE
2011-12-09 12:50:00    581587     22138    BAKING SET 9 PIECE RETROSPOT

                     Quantity  UnitPrice  CustomerID         Country  Year  \
InvoiceDate
2011-01-04 10:00:00        10       1.95     13313.0  United Kingdom  2011
2011-01-04 10:00:00        25       0.42     13313.0  United Kingdom  2011
2011-01-04 10:00:00        25       0.42     13313.0  United Kingdom  2011
2011-01-04 10:00:00         5       2.10     13313.0  United Kingdom  2011
2011-01-04 10:00:00        10       1.25     13313.0  United Kingdom  2011
...                       ...        ...         ...             ...   ...
2011-12-09 12:50:00        12       0.85     12680.0          France  2011
2011-12-09 12:50:00         6       2.10     12680.0          France  2011
2011-12-09 12:50:00         4       4.15     12680.0          France  2011
2011-12-09 12:50:00         4       4.15     12680.0          France  2011
2011-12-09 12:50:00         3       4.95     12680.0          France  2011

                     Month  Day  Weekday  Hour
InvoiceDate
2011-01-04 10:00:00      1    4        1    10
2011-01-04 10:00:00      1    4        1    10
2011-01-04 10:00:00      1    4        1    10
2011-01-04 10:00:00      1    4        1    10
2011-01-04 10:00:00      1    4        1    10
...                    ...  ...      ...   ...
2011-12-09 12:50:00     12    9        4    12
2011-12-09 12:50:00     12    9        4    12
2011-12-09 12:50:00     12    9        4    12
2011-12-09 12:50:00     12    9        4    12
2011-12-09 12:50:00     12    9        4    12

[499428 rows x 12 columns]

In [12]:
df_retail_data_2011_dec = df_retail_data.loc['2011-12']
print(df_retail_data_2011_dec.head())

                    InvoiceNo StockCode                         Description  \
InvoiceDate
2011-12-01 08:12:00   C579889     23245          SET OF 3 REGENCY CAKE TINS
2011-12-01 08:14:00   C579890     84947   ANTIQUE SILVER TEA GLASS ENGRAVED
2011-12-01 08:14:00   C579890     23374             RED SPOT PAPER GIFT BAG
2011-12-01 08:14:00   C579890     84945  MULTI COLOUR SILVER T-LIGHT HOLDER
2011-12-01 08:18:00   C579891     23485       BOTANICAL GARDENS WALL CLOCK

                     Quantity  UnitPrice  CustomerID         Country  Year  \
InvoiceDate
2011-12-01 08:12:00        -8       4.15     13853.0  United Kingdom  2011
2011-12-01 08:14:00        -1       1.25     15197.0  United Kingdom  2011
2011-12-01 08:14:00        -1       0.82     15197.0  United Kingdom  2011
2011-12-01 08:14:00        -2       0.85     15197.0  United Kingdom  2011
2011-12-01 08:18:00        -1      25.00     13644.0  United Kingdom  2011

                     Month  Day  Weekday  Hour
InvoiceDate
2011-12-01 08:12:00     12    1        3     8
2011-12-01 08:14:00     12    1        3     8
2011-12-01 08:14:00     12    1        3     8
2011-12-01 08:14:00     12    1        3     8
2011-12-01 08:18:00     12    1        3     8

In [13]:
df_dec_range = df_retail_data.loc['2011-12-01':'2011-12-15']
print(df_dec_range.head())

                    InvoiceNo StockCode                         Description  \
InvoiceDate
2011-12-01 08:12:00   C579889     23245          SET OF 3 REGENCY CAKE TINS
2011-12-01 08:14:00   C579890     84947   ANTIQUE SILVER TEA GLASS ENGRAVED
2011-12-01 08:14:00   C579890     23374             RED SPOT PAPER GIFT BAG
2011-12-01 08:14:00   C579890     84945  MULTI COLOUR SILVER T-LIGHT HOLDER
2011-12-01 08:18:00   C579891     23485       BOTANICAL GARDENS WALL CLOCK

                     Quantity  UnitPrice  CustomerID         Country  Year  \
InvoiceDate
2011-12-01 08:12:00        -8       4.15     13853.0  United Kingdom  2011
2011-12-01 08:14:00        -1       1.25     15197.0  United Kingdom  2011
2011-12-01 08:14:00        -1       0.82     15197.0  United Kingdom  2011
2011-12-01 08:14:00        -2       0.85     15197.0  United Kingdom  2011
2011-12-01 08:18:00        -1      25.00     13644.0  United Kingdom  2011

                     Month  Day  Weekday  Hour
InvoiceDate
2011-12-01 08:12:00     12    1        3     8
2011-12-01 08:14:00     12    1        3     8
2011-12-01 08:14:00     12    1        3     8
2011-12-01 08:14:00     12    1        3     8
2011-12-01 08:18:00     12    1        3     8

## Crear rangos de fechas

In [14]:
date_range = pd.date_range(start='2011-12-01',end='2011-12-15',freq='D')
print(date_range)

DatetimeIndex(['2011-12-01', '2011-12-02', '2011-12-03', '2011-12-04',
               '2011-12-05', '2011-12-06', '2011-12-07', '2011-12-08',
               '2011-12-09', '2011-12-10', '2011-12-11', '2011-12-12',
               '2011-12-13', '2011-12-14', '2011-12-15'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df_dates = pd.DataFrame(date_range,columns=['Date'])
print(df_dates)

         Date
0  2011-12-01
1  2011-12-02
2  2011-12-03
3  2011-12-04
4  2011-12-05
5  2011-12-06
6  2011-12-07
7  2011-12-08
8  2011-12-09
9  2011-12-10
10 2011-12-11
11 2011-12-12
12 2011-12-13
13 2011-12-14
14 2011-12-15